* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

.header {
    text-align: center;
}

/* navigation bar */
nav {
    padding: 0.8rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid gray;
    margin: 0 15px;
}

.nav-bar {
    list-style: none;
    /* padding: 0; */
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: #333;
}
.nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s;
}

.nav:hover {
    background-color: #555;
}

/* intro section */

#intro {
    padding: 2rem 10% 3rem;
    text-align: center;
    font-size: 25px;
}

#intro button {
    color: white;
    font-weight: bold;
    background-color: #c2195b;
    border-radius: 25px;
    font-size: 1rem;
    padding: 1rem;
}

.intro-content {
    display: flex;
    align-items: center;
}

/* project-info section */

#project-info {
    padding: 2rem 10% 3rem;
}

#project-info h2 {
    margin-bottom: 1rem;
}

#project-info h3 {
    text-align: center;
    margin-bottom: 1rem;
}

#project-info .card {
    display: inline-block;
    vertical-align: top;
    min-height: 175px;
    width: 30%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#project-info img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

/* pre-footer */
#pre-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: #333;
    color: white;
}

#pre-footer div {
    flex: 1 1 200px;
    padding: 20px;
}

#pre-footer div h3{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#pre-footer p {
    margin: 5px 0;
    font-size: 14px;
}

#pre-footer p:hover {
    color: #00bfff;
    cursor: pointer;
}

/* skills section */

#skill {
    padding: 2rem 10% 3rem;
    text-align: center;
    font-size: 25px;
}

.skill-content ul {
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill-content ul li {
    list-style: none;
}

#skill h2{
    margin-bottom: 1rem;
}

/* footer */

footer {
    padding: 0.7rem;
    text-align: center;
}

footer span {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}